name: Build with Semantic-Release

on:
    push:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x, 24.x]

        services:
            redis:
                image: redis/redis-stack:latest
                ports:
                    - 6379:6379
                options: >-
                    --health-cmd "redis-cli ping"
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.TOKEN_GITHUB }}

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}

            - name: install dependencies
              run: npm ci

            - name: Run tests
              run: npm run test

            - name: Run e2e tests
              run: npm run test:e2e

    release:
        runs-on: ubuntu-latest
        needs:
            - test
        steps:
            - name: checkout
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.TOKEN_GITHUB }}
                  persist-credentials: true
                  fetch-depth: 0

            - name: environment
              uses: actions/setup-node@v3
              with:
                  cache: npm
                  node-version: 24

            - name: install dependencies
              run: npm ci

            - name: build project
              run: npm run build

            - name: Semantic Release
              env:
                  GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: npx semantic-release
